<div class="content_well well">
  <%= render(partial: 'summary', object: outer.decorate) if nested? %>
  <%= render(partial: 'tabs') if nested? %>
  <%= render 'form'%>
  <%= render partial:'block', :collection => collection %>
</div>
