<div id="<%=activity_box_id %>" class="easyPieChart" data-percent="0">
  <div class="charFigure">0</div>
  <div class="alert alert-info" role="alert"><%=t("activites.#{activity_box_id}")%></div>
</div>