<div class="panel panel-success summary">
  <%= hidden_field_tag :activities_counts_path, activities_counts_user_path(outer.id)%>
  <div class="panel-heading"><%= t(:dashboard)%></div>
  <div class="panel-body">
    <% %w(contact_brands agreement_shops agreement_brands lease_shops lease_brands lease_amounts).each do |c| %>
        <%= render partial: 'users/activity_box', locals: {activity_box_id: "#{c}_count", activity_url: '#'} %>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
    $(document).ready(function() {
        window.peseidon.initUserActivityCounts();
    });
<% end %>





