<div class="balance panel panel-warning">
  <div class="panel-heading">Balance</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3">
        <dl class="dl-horizontal">
          <dt>Total Cost :</dt>
          <dd><%= balance.total_cost %></dd>
        </dl>
      </div>
      <div class="col-lg-3">
        <dl class=" dl-horizontal">
          <dt>Upfront Cost :</dt>
          <dd><%= balance.total_cost %></dd>
        </dl>
      </div>
      <div class="col-lg-3">
        <dl class=" dl-horizontal">
          <dt>Planning Cost :</dt>
          <dd><%= balance.total_cost %></dd>
        </dl>
      </div>
      <div class="col-lg-3">
        <dl class=" dl-horizontal">
          <dt>Survey Fee :</dt>
          <dd><%= balance.total_cost %></dd>
        </dl>
      </div>
    </div>
  </div>
</div>